html {
    margin: 0;
    border: 0;
    font-family: 'Trebuchet MS', sans-serif;
    background-image: url("../img/underbridge-bg.jpg");
    background-repeat: no-repeat center fixed;    
    background-size:cover;
    border-radius: 25px;
}

#title {
    position: absolute;
    font-size: 4rem;
    color: rgb(100,100,100);
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(240, 240, 240);
    margin: 10vh 5vw 0 5vw;
    text-align: center;
    border-radius: 10px;
}


#main {
    position: absolute;
    top: 0;
    left:0;
    bottom:0;
    right: 0;
    background-color: rgba(255,255,255,0.8);
    margin: 20vh 5vw 0 5vw;
    border-radius: 10px;
}

.content {
    position: absolute;
    text-align: center;
    background-color: rgb(240, 240, 240);
    font-size: 1rem;
    width: 25vw;
    height: 65vh;
    margin: 10px;
    padding: 2vw;
    border-radius: 10px;
}

#about {
    top: 100px;
    left: 0;
}

#notices {
    top: 100px;
    left: 32vw;
}

#contacts {
    top: 100px;
    right: 0;
}

#login {
    position: absolute;
    text-align: center;
    background-color: rgba(119, 119, 119, 0.836);
    background-image: url("../img/DunboyneToo.jpg");
    background-repeat: no-repeat center fixed;    
    background-size:cover;
    font-size: 1rem;
    width: auto;
    height: 20vh;
    margin: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 10px;
}


.authbtn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.authbtn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


.subtitle {
    font-size: 1.5rem;
    font-weight: 200;
}

.note {

    font-style: italic;
}