html {
    margin: 0;
    border: 0;
    background-image: url("../img/town2.jpg");
    background-repeat: no-repeat;    
    background-size: cover;
}

#main {
    position: absolute;
    top: 10rem;
    left:200px;
    height: 50rem;
    width: 500px;
    font-size: 2rem;
    color: darkcyan;
    background-color: black;
}

#navbar1 {
    position:absolute;
    background-image: url("../img/bow.png");
    background-repeat: no-repeat;
    
    top:0;
    bottom:0;
    left:0;
    width: 200px;
    border: 1px red solid;
}